.bg-indigo{
    background-color: #6610f2;
    color:white;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link
{
    color: white;
}

.bg-indigo-light
{
    background-color: #a67de9;
}

footer#footer
{
    background-color: #2c0669;
    color: white;
    font-weight: 
}

body#body
{
    background-color: #a67de9;
}

div#body
{
    min-height: 75vh;
}
